<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add Skill</h1>
    <form action="/skills" method="POST" autocomplete="off">
        <div>
            <label>Skill Type:</label> <br>
            <input type="text" name="type">
        </div>
        <div>
            <label>Skill:</label><br>
            <input type="text" name="ability">
        </div>
        <button type="submit">Add Skill</button>
    </form>
    <a href="/">Home</a>
    <a href="/skills/new">Add Skill</a>
</body>
</html>